
<style>
.conversations {
  margin: 0% 10%

}
</style>
<div class=conversations>

<div class="css-input">Messages</div>
<br><br>
<div class="ui segment">
    <h3>Active Conversations</h3>
  
    <div class="ui list">
      <div class="item">
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == @current_user.id || conversation.receiver_id == @current_user.id %>
            <% if conversation.sender_id == @current_user.id %>
              <% receiver = User.find(conversation.receiver_id) %>
            <% else %>
              <% receiver = User.find(conversation.sender_id) %>
            <% end %>
            <%= link_to receiver.first_name, conversation_messages_path(conversation)%><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  

<h1>Start Conversations</h1>
<% @current_user.friendships.each do |friendship| %>
<li>
  <%= friendship.friend.name %>
  <%= link_to 'Message me!', conversations_path(sender_id: @current_user.id, receiver_id: friendship.friend.id), method: 'post'%>
<% end %>

</div>