<style>
.user-index {
  margin: 0% 10%

}
</style>
<div class=user-index>
<div class="css-input">Find a Friend</div>
<br><br><br>
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<h3><%= error %></h3>
<% end %>
<% end %>

<div id="users">
<% @all_except_me.sort {|a,b| a.first_name <=> b.first_name}.each do |user| %>
  <%= user.name%>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>

<% end %>
</div>

</div>

