<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid orange;
  padding: 10px;
  text-align: center;
}
.css-input {
     padding: 28px;
     font-size: 50px;
     border-width: 1px;
     border-color: #cccccc;
     background-color: #ffa500;
     color: #ffffff;
     border-style: dotted;
     border-radius: 27px;
     box-shadow: -4px 5px 7px rgba(66,66,66,.54);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-align: center;
     
}
 .css-input:focus {
     outline:none;
</style>

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:10px">
<div class="css-input">Do Something Amazing</div>
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="post">
  <% @action_posts.sort {|a,b| b.id <=> a.id}.each do |post| %>
    <div class="w3-quarter">
    <div class="image-overlay-container">
      <img src= <%= post.img_url %> alt="post image" class="image" >
      <% if @current_user %>
      <div class="overlay"><%= link_to simple_format("#{post.title.titleize}\n#{post.category.tag.downcase}"), post%></div>
      <% else %>
      <div class="overlay"><%= link_to simple_format("#{post.title.titleize}\n#{post.category.tag.downcase}"), new_login_path%></div>
      <% end %>
    </div>
    </div>
  <% end %>
  
</div>



