/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

*{box-sizing: border-box;}

.custom-nav-bar {
margin-left: 0px;
margin-top: 20px;

}

#mySidebar {
  display:none;
  z-index: 2;
  width: 5%;
  min-width: fit-content;
  height: fit-content;
}
.custom-top {
  height: 80px 
}

.custom-nav-click {
  height: 20px
}
#inner-custom-top {
  max-width:1200px;
  margin:auto
}

.top-text {
  height: 75px;
    border-style: solid;
  border-width: .1px;
  border-color: orange;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

#inner-custom-top text {
  top: 50%
}

.image-overlay-container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {

  border-radius: 25px;
  width: 200%;
  height: 100%;
  display: inline;
  padding: 5%;
  border-style: dotted;
  border-width: .1px;
  border-color: orange;
  overflow: hidden;
  margin-bottom: 5%;
}



.overlay {
    position: absolute;
    bottom: 37px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 187%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 6px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 0px;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.overlay text {

  left: 5%
}
    
    
#logo {
  border:"0";
   width:8%;
   position: absolute;
   right: 0px
}

.overlay a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}



   .box {
            display: flex;
            flex-wrap: wrap;
          }
          .box>* {
            flex: 1 1 auto;
          }
          .hide {
            visibility: collapse;
          }
      
  

.image-overlay-container:hover .overlay {
  opacity: 1;
}
body,h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
