/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

body {
  background-color: #FFF9EC;
}

*{box-sizing: border-box;}

.custom-nav-bar {
margin-left: 0px;
margin-top: 20px;

}

#mySidebar {
  display:none;
  z-index: 2;
  width: 5%;
  min-width: fit-content;
  height: fit-content;
  margin-top: 1%;
}
.custom-top {
  height: 80px 
}

.custom-nav-click {
  height: 20px
}
#inner-custom-top {
  max-width:1200px;
  margin:auto
}

.top-text {
  height: 75px;
    border-style: solid;
  border-width: .1px;
  border-color: orange;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

#inner-custom-top text {
  top: 50%
}



.image {
  border-radius: 25px;
    width: 240px;
    height: 300px;
    display: inline;
    padding: 5%;
    border-style: dotted;
    border-width: .1px;
    border-color: orange;
    overflow: hidden;
    margin-bottom: 5%;
}

.image-overlay-container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.show-image {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  align-content: center;
  display: inline;
  padding: 5%;
  border-style: dotted;
  border-width: .1px;
  border-color: orange;
  overflow: hidden;
  margin-bottom: 5%;

}

.css-input {
     padding: 28px;
     font-size: 50px;
     border-width: 1px;
     border-color: #cccccc;
     background-color: #ffa500;
     color: #ffffff;
     border-style: dotted;
     border-radius: 27px;
     box-shadow: -4px 5px 7px rgba(66,66,66,.54);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-align: center;
     width: fit-content;
}
 .css-input:focus {
     outline:none;
}
.overlay {
   position: absolute;
    bottom: 24%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 144%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 12%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 110%;
    padding: 0px;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


.overlay text {

  left: 5%
}
    
    
#logo {
    width: 10%;
    position: fixed;
    right: 7%;
    top: 1%;
}

.overlay a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}



   .box {
            display: flex;
            flex-wrap: wrap;
          }
          .box>* {
            flex: 1 1 auto;
          }
          .hide {
            visibility: collapse;
          }
      
  

.image-overlay-container:hover .overlay {
  opacity: 1;
}
body,h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid orange;
  padding: 10px;
  text-align: center;
}
.css-input {
     padding: 28px;
     font-size: 50px;
     border-width: 1px;
     border-color: #cccccc;
     background-color: #ffa500;
     color: #ffffff;
     border-style: dotted;
     border-radius: 27px;
     box-shadow: -4px 5px 7px rgba(66,66,66,.54);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-align: center;
     
}
 .css-input:focus {
     outline:none;
 }

 .profile-image {
  border-radius: 25px;
  height: 30%;
  width: 30%;
  align-content: center;
  display: inline;
  padding: 1%;
  border-style: dotted;
  border-width: .1px;
  border-color: orange;
  overflow: hidden;
  margin-bottom: 5%;
}